# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
.next/
out/
dist/
.turbo/
.expo/

# Python / model
apps/inference/__pycache__/
apps/inference/.venv/
apps/inference/best.pt
.metrics-tool/

# Env
.env*
!.env.example

# Debug
npm-debug.log*
.DS_Store
*.pem

# Typescript
next-env.d.ts
expo-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

# IDE
.idea/
.vscode/
